{%  extends "admin/common/admin_base.html" %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Bootstrap -->
<link rel="stylesheet" href="/static/global/bootstrap/css/bootstrap.min.css" >

{% block title -%}
    预处理和雨流计数
{% endblock %}
{% block page_title -%}预处理和雨流计数{% endblock %}
{% block content -%}
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <form  role='form' class="form-inline"  id="search-form" onsubmit="return false">
                    <div class="box-body">
                       <div class="row">
                            <div class="col-xs-12">

                                 <div class="form-group">
                                           <label class="control-label">选择数据库</label>
                                           <select class="form-control select2" style="width: 160px; margin: 12px"  name="roleid">
                                                    <option selected="selected" value=""></option>
                                                    <option value="4">项目-2</option>
            {#                                        <option value="1">电销经理</option>#}
            {#                                        <option value="2">电销组长</option>#}
            {#                                        <option value="3">电销人员</option>#}
                                                </select>
                                       </div>


                                       <div class="form-group">
                                                <label class="control-label">选择表</label>
                                                <select class="form-control select2" style="width: 160px; margin: 12px"  name="roleid">
                                                    <option selected="selected" value=""></option>
                                                    <option value="1">后转向架</option>
                                                    <option value="2"></option>
                                                    <option value="3"></option>
                                                </select>
                                       </div>

                                            <div class="form-group">
                                                <label class="control-label">选择通道范围（可多通道）</label>
                                                <input class="form-control" placeholder="0" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >
                                                —
                                                <input class="form-control" placeholder="80" id="nono_balance_amt_e" name="nono_balance_amt_upper" style="width: 80px" >

                                            </div>

                                            <div class="form-group",>
                                                <label>选择时间历程范围</label>
                                                <div class="input-group", style="margin: 12px; width: 220px;">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right"    id="last_bookings_time"  name="last_bookings_time">
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label><span class="label label-default">初步处理</span></label>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">应力应变系数</label>
                                       <input class="form-control" placeholder="0.071" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">零漂处理块长度</label>
                                        <input class="form-control" placeholder="采样频率值" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 120px" >
                                </div>

                                <div class="form-group">
                                <label class="control-label">毛刺处理块长度</label>
                                         <input class="form-control" placeholder="36" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 120px" >

                                </div>

                                <div class="form-group" style="visibility: hidden">
                                           <label class="control-label">选择数据库</label>
                                           <select class="form-control select2" style="width: 160px; margin: 12px"  name="roleid">
                                                    <option selected="selected" value=""></option>
                                                    <option value="4">项目-2</option>
                                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                 <div class="form-group">
                                    <label><span class="label label-default">PSD参数</span></label>
                                </div>

                                    <div class="form-group">
                                        <label class="control-label">采样频率（fs）</label>
                                       <input class="form-control" placeholder="1024" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >

                                    </div>

                                &emsp;
                                <div class="form-group">
                                        <label class="control-label">加窗混叠率（noverlap）</label>
                                        <input class="form-control" placeholder="50" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >

                                    </div>

                                &emsp;
                                    <div class="form-group">
                                        <label class="control-label">FFT采样点数</label>
                                         <input class="form-control" placeholder="8192" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >
                                    </div>

                                <div class="form-group" style="visibility: hidden">
                                           <label class="control-label">选择数据库</label>
                                           <select class="form-control select2" style="width: 160px; margin: 12px"  name="roleid">
                                                    <option selected="selected" value=""></option>
                                                    <option value="4">项目-2</option>
                                                </select>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                 <div class="form-group">
                                    <label><span class="label label-default">滤波参数</span></label>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">采样频率（fs）</label>
                                       <input class="form-control" placeholder="1024" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >
                                    </select>
                                </div>

                                &emsp;
                                <div class="form-group">
                                    <label class="control-label">低通截止频率（cut_freq）</label>
                                        <input class="form-control" placeholder="40" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 120px" >
                                </div>

                                &emsp;
                                <div class="form-group">
                                <label class="control-label">滤波器阶数（order）</label>
                                         <input class="form-control" placeholder="8192" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 120px" >

                                </div>
                                &emsp;
                                <div class="form-group" style="visibility: hidden">
                                           <label class="control-label">选择数据库</label>
                                           <select class="form-control select2" style="width: 160px; margin: 12px"  name="roleid">
                                                    <option selected="selected" value=""></option>
                                                    <option value="4">项目-2</option>
                                                </select>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!--<div class="form-group">
                        <button type="button" class="btn btn-block btn-info">查询</button>
                    </div>-->
                    <div class="box-footer">
                        <div class="form-group">
                                <label class="control-label">雨流分桶</label>
                                         <input class="form-control" placeholder="16" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 120px" >
                        </div>
                        &emsp;
                        <button  class="btn btn-primary" id="btn_search" type="button btn-lrg ajax" onclick="search()" >开始</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10">
            <div class="box box-primary">
            <iframe width="100%" height="360" align="center" scrolling="auto" frameborder="0" allowTransparency="true" ></iframe>
            </div>

            <div class="box box-primary">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover table-sort">
{#                        <thead>#}
                            <tr>
{#                                <th width="50"><input type="checkbox" class="minimal checkbox-toggle"></th>#}
                                {% for i in range(17) %}
                                    <td>{{ i }}</td>
                                {% endfor %}
                            </tr>
{#                        </thead>#}
{#                        <tbody>#}
                            <tr>
{#                                <th width="50"><input type="checkbox" class="minimal checkbox-toggle"></th>#}
                                {% for i in range(17) %}
                                    <td>{{ i }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
{#                                <th width="50"><input type="checkbox" class="minimal checkbox-toggle"></th>#}
                                {% for i in range(17) %}
                                    <td>{{ i }}</td>
                                {% endfor %}
                            </tr>
{#                        </tbody>#}
                    </table>
                </div>
            </div>

        </div>
         <div class="col-md-2">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover table-sort">
                        <thead>
                            <tr>
{#                                <th width="50"><input type="checkbox" class="minimal checkbox-toggle"></th>#}
                                {% for i in range(3) %}
                                    <td>{{ i }}</td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in range(16) %}
                            <tr>
{#                                <td style="vertical-align:middle"><input type="checkbox" name="id[]" class="minimal"></td>#}
                                {% for j in range(3) %}
                                    <td>{{ j }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
    </div>


</section>


{#要先引入jquery#}


    <script type="text/javascript">
        $(function(){
            /*ajax页面加载icheck，有该控件的页面才需要*/
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

            /*ajax页面加载icheck，有该控件的页面才需要*/
            $(".select2").select2({language:"zh-CN"});

            /*全选-反选*/
            $('.checkbox-toggle').on('ifChecked', function(event){
                var _this = $(this);
                var _table = _this.closest('.table');
                _table.find("tr td input[type='checkbox']").iCheck("check");
            });
            $('.checkbox-toggle').on('ifUnchecked', function(event){
                var _this = $(this);
                var _table = _this.closest('.table');
                _table.find("tr td input[type='checkbox']").iCheck("uncheck");
            });

            $('.editable').editable({
                emptytext: "empty",
                params: function(params) {      //参数
                    var data = {};
                    data['id'] = params.pk;
                    data[params.name] = params.value;
                    return data;
                },
                success: function(response, newValue) {
                    var res = response;
                    if(res.code == 200){

                    }else{
                        return res.info;
                    }
                }
            });
        })

        {#时间范围选择#}
        var globalDataRangePickerOption = {
            autoUpdateInput : false,
            showDropdowns: false,
            showWeekNumbers: false,
            timePicker: false,
            timePickerIncrement: 180,
            singleDatePicker: false,
            timePicker24Hour: false,
            locale: {
                applyLabel: '确定',
                cancelLabel: '取消',
                format: 'YYYY-MM-DD',
                "fromLabel": "起始时间",
                "toLabel": "结束时间'",
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'YYYY-MM-DD',
        }

        $('#last_bookings_time').daterangepicker(globalDataRangePickerOption)
        $('#last_called_time').daterangepicker(globalDataRangePickerOption)
    </script>
    <script type="text/javascript" src="/static/global/jQuery/jquery-2.2.3.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/global/bootstrap/js/bootstrap.min.js" ></script>


{% endblock %}