{%  extends "admin/common/admin_base.html" %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Bootstrap -->
<link rel="stylesheet" href="/static/global/bootstrap/css/bootstrap.min.css" >

{% block title -%}
    多维查询
{% endblock %}
{% block page_title -%}多维查询{% endblock %}
{% block page_btn_name -%}查询列表{% endblock %}
{% block content -%}
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <form  role='form' class="form-inline"  id="search-form" onsubmit="return false">
                    <div class="box-body">
                       <div class="row">
                            <div class="col-xs-12">

                                 <div class="form-group">
                                    <label class="control-label">国家</label>
                                    <select class="form-control select2" style="width: 200px; margin: 12px"  name="roleid">
                                        <option selected="selected" value=""></option>
                                        <option value="4">中国</option>
{#                                        <option value="1">电销经理</option>#}
{#                                        <option value="2">电销组长</option>#}
{#                                        <option value="3">电销人员</option>#}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">省份</label>
                                    <select class="form-control select2" style="width: 200px; margin: 12px"  name="roleid">
                                        <option selected="selected" value=""></option>
                                        <option value="4">北京</option>
                                        <option value="1">上海</option>
                                        <option value="2">重庆</option>
                                        <option value="3">天津</option>
                                        <option value="5">广东</option>
                                        <option value="6">青岛</option>
                                        <option value="7">香港</option>
                                        <option value="8">天津</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">城市</label>
                                    <select class="form-control select2" style="width: 200px; margin: 12px"  name="roleid">
                                        <option selected="selected" value=""></option>
                                        <option value="2">广州</option>
                                        <option value="1">深圳</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="form-group">
                                    <label class="control-label">项目</label>
                                    <select class="form-control select2" style="width: 200px; margin: 12px"  name="roleid">
                                        <option selected="selected" value=""></option>
                                        <option value="1">项目编号 - 1</option>
                                        <option value="2">项目编号 - 2</option>
                                        <option value="3">项目编号 - 3</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">线路</label>
                                    <select class="form-control select2" style="width: 200px; margin: 12px"  name="roleid">
                                        <option selected="selected" value=""></option>
                                        <option value="1">1号线</option>
                                        <option value="2">2号线</option>
                                        <option value="3">3号线</option>
                                        <option value="5">4号线</option>
                                        <option value="6">5号线</option>
                                        <option value="7">6号线</option>
                                        <option value="8">7号线</option>
                                        <option value="8">8号线</option>
                                        <option value="8">9号线</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">车辆号</label>
                                    <select class="form-control select2" style="width: 200px; margin: 12px"  name="roleid">
                                        <option selected="selected" value=""></option>
                                        <option value="1">93xxx</option>
                                        <option value="2">03C***</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group",>
                                    <label>开始时间</label>
                                    <div class="input-group", style="margin: 12px; width: 220px;">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right"    id="last_bookings_time"  name="last_bookings_time">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group",>
                                    <label>结束时间</label>
                                    <div class="input-group", style="margin: 12px; width: 220px;">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right"  id="last_called_time"  name="last_called_time">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label " style=" margin: 12px;">应力幅值范围 </label>
                                    <input class="form-control" placeholder="不限" id="nono_balance_amt_s"  name="nono_balance_amt_lower" style="width: 80px" >
                                    —
                                    <input class="form-control" placeholder="不限" id="nono_balance_amt_e" name="nono_balance_amt_upper" style="width: 80px" >
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--<div class="form-group">
                        <button type="button" class="btn btn-block btn-info">查询</button>
                    </div>-->
                    <div class="box-footer">
                        <button  class="btn btn-primary" id="btn_search" type="button btn-lrg ajax" onclick="search()" >查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">

                <iframe id="dashboard" src="http://localhost:3000/d/8RCehxlZz/cha-xun-bo-xing?orgId=1&from=1583201375670&to=1583222975670"
                        width="100%" height="300" frameborder="0" align="center"></iframe>
                {#                    {{ render_page_data(data,'adminadmin.index') }}#}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover table-sort">
                        <thead>
                            <tr>
                                <th width="50"><input type="checkbox" class="minimal checkbox-toggle"></th>
                                {% for i in columns %}
                                    <td>{{ i }}</td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                            <tr>
                                <td style="vertical-align:middle"><input type="checkbox" name="id[]" class="minimal"></td>
                                {% for j in i %}
                                    <td>{{ j }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
{#                    {{ render_page_data(data,'adminadmin.index') }}#}
            </div>
        </div>
    </div>



</section>


{#要先引入jquery#}


    <script type="text/javascript">
        $(function(){
            /*ajax页面加载icheck，有该控件的页面才需要*/
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

            /*ajax页面加载icheck，有该控件的页面才需要*/
            $(".select2").select2({language:"zh-CN"});

            /*全选-反选*/
            $('.checkbox-toggle').on('ifChecked', function(event){
                var _this = $(this);
                var _table = _this.closest('.table');
                _table.find("tr td input[type='checkbox']").iCheck("check");
            });
            $('.checkbox-toggle').on('ifUnchecked', function(event){
                var _this = $(this);
                var _table = _this.closest('.table');
                _table.find("tr td input[type='checkbox']").iCheck("uncheck");
            });

            $('.editable').editable({
                emptytext: "empty",
                params: function(params) {      //参数
                    var data = {};
                    data['id'] = params.pk;
                    data[params.name] = params.value;
                    return data;
                },
                success: function(response, newValue) {
                    var res = response;
                    if(res.code == 200){

                    }else{
                        return res.info;
                    }
                }
            });
        })

        {#时间范围选择#}
        var globalDataRangePickerOption = {
            autoUpdateInput : false,
            showDropdowns: false,
            showWeekNumbers: false,
            timePicker: false,
            timePickerIncrement: 180,
            singleDatePicker: false,
            timePicker24Hour: false,
            locale: {
                applyLabel: '确定',
                cancelLabel: '取消',
                format: 'YYYY-MM-DD',
                "fromLabel": "起始时间",
                "toLabel": "结束时间'",
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'YYYY-MM-DD',
        }

        $('#last_bookings_time').daterangepicker(globalDataRangePickerOption)
        $('#last_called_time').daterangepicker(globalDataRangePickerOption)


    </script>



    <script type="text/javascript" src="/static/global/jQuery/jquery-2.2.3.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/global/bootstrap/js/bootstrap.min.js" >

        console.log("这里是indexx中的Js")

    </script>


{% endblock %}